---
name: Publish

on:
  push:
    branches: ['main']

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          check-latest: true

      - name: Install Cosign
        uses: sigstore/cosign-installer@v3.10.0

      - name: Prepare Ko
        uses: ko-build/setup-ko@v0.9

      - name: Build and publish container image
        run: |
          KO_DATA_DATE_EPOCH=$(git log -1 --format='%ct')
          export KO_DATA_DATE_EPOCH
          IMAGE="$(ko build --bare)"
          cosign sign --yes "${IMAGE}"
